.composition{
    margin: 0 auto;
    position: relative;
    
    &__photo{
        width: 45%;
        position: absolute;
        z-index: 10;
        transition: all .5s;
        outline-offset: 2rem;
        
        &--1{
            top:0;
            left: 0;
        }

        &--2{
            top:0;
            right: 0;
        }

        &--3{
            top:8rem;
            left:27.5%;
        }

        &:hover{
            transform: scale(1.05) translateY(-2rem);
            outline: 1.5rem solid $color-primary;
            z-index: 20;
        }
    } 

    &:hover &__photo:not(:hover){
        transform: scale(0.9);
    }
}