*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    /* font-size: 10px */
    /* yerine bu şekilde kullanmak good pratice */
    font-size: 62.5%;
    @include respond(tab-land){ 
        font-size: 75%;     //1200/16
    }
    @include respond(tab-port){
        font-size: 56.25%;  //900/16
    }
    @include respond(phone){
        font-size: 37.5%;   //600/16
    }
}

body{
    box-sizing: border-box;
}